<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminController</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.adminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditSRecord</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.EditSRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStuData</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.updateStuData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteSRecord</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.DeleteSRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditIRecord</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.EditIRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateInsData</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.updateInsData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editIDelete</servlet-name>
        <servlet-class>org.Lambton.controller.editIDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteIRecord</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.DeleteIRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDRecord</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.EditDRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateDepData</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.updateDepData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>callStuData</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.callStuData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertInsData</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.insertInsData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertStuData</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.insertStuData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCRecord</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.EditCRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCouData</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.updateCouData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCRecord</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.DeleteCRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDRecord</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.DeleteDRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertCouData</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.insertCouData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stuEditRecord</servlet-name>
        <servlet-class>org.Lambton.controller.stuEditRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stuCallRecord</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.stuCallRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertDepData</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.insertDepData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentContoller</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.studentContoller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stuUpdateData</servlet-name>
        <servlet-class>stuUpdateData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentUpdate</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.studentUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stuShowGrade</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.stuShowGrade</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insCallRecord</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.insCallRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsUpdateData</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.InsUpdateData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>insertGradeData</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.insertGradeData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showAllGrade</servlet-name>
        <servlet-class>org.teacherstudentportal.controller.showAllGrade</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminController</servlet-name>
        <url-pattern>/adminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditSRecord</servlet-name>
        <url-pattern>/EditSRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStuData</servlet-name>
        <url-pattern>/updateStuData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteSRecord</servlet-name>
        <url-pattern>/DeleteSRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditIRecord</servlet-name>
        <url-pattern>/EditIRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateInsData</servlet-name>
        <url-pattern>/updateInsData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editIDelete</servlet-name>
        <url-pattern>/editIDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteIRecord</servlet-name>
        <url-pattern>/DeleteIRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDRecord</servlet-name>
        <url-pattern>/EditDRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateDepData</servlet-name>
        <url-pattern>/updateDepData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>callStuData</servlet-name>
        <url-pattern>/callStuData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertInsData</servlet-name>
        <url-pattern>/insertInsData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertStuData</servlet-name>
        <url-pattern>/insertStuData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCRecord</servlet-name>
        <url-pattern>/EditCRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCouData</servlet-name>
        <url-pattern>/updateCouData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCRecord</servlet-name>
        <url-pattern>/DeleteCRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDRecord</servlet-name>
        <url-pattern>/DeleteDRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertCouData</servlet-name>
        <url-pattern>/insertCouData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stuEditRecord</servlet-name>
        <url-pattern>/stuEditRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stuCallRecord</servlet-name>
        <url-pattern>/stuCallRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertDepData</servlet-name>
        <url-pattern>/insertDepData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentContoller</servlet-name>
        <url-pattern>/studentContoller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stuUpdateData</servlet-name>
        <url-pattern>/stuUpdateData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentUpdate</servlet-name>
        <url-pattern>/studentUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stuShowGrade</servlet-name>
        <url-pattern>/stuShowGrade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insCallRecord</servlet-name>
        <url-pattern>/insCallRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsUpdateData</servlet-name>
        <url-pattern>/InsUpdateData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>insertGradeData</servlet-name>
        <url-pattern>/insertGradeData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showAllGrade</servlet-name>
        <url-pattern>/showAllGrade</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>100</session-timeout>
    </session-config>
</web-app>
